header{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ff8000;
}

header img{
    margin: 20px;
    height: 70px;
}

#content{
    background-color: white;
    width: 100%;
    height: calc(100vh - 200px);
}

.banner-section{
    justify-content: end;
    align-items: center;
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.banner-section img{
    width: 100%;
    object-fit: cover;
    
}

.restaurante-logo{
    display: flex;
    justify-content: center;
}

.restaurante-logo img{
    position: absolute;
    top: 214px;
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 5px 5px rgba(47, 47, 47, 0.5);
    border-radius: 40px;
}

.restaurante-infos{
    padding-left: 20px;
    padding-right: 20px;
}

.restaurante-infos p{
    font-size: 16px;
    color: #ff8000;
}

.restaurante-infos p:hover{
    cursor: pointer;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #ff8000;
}