@font-face {
    font-family: MainFont;
    src: url(./Montserrat/static/Montserrat-Regular.ttf);
}

body{
    font-family: MainFont;
}

.menu-list h2{
    font-weight: bold;
    font-size: 32px;
}

.restaurante-infos p{
    font-size: 16px;
    color: #ff8000;
}

.menu-ingredients{
    font-size: 12px;
}

.menu-price{
    color: #ff8000;
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 400px){
    .menu-list h2{
        font-size: 24px;
    }
}